<%= form_with(model: lead, local: true) do |form| %>
  <% if lead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

      <ul>
      <% lead.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :lat %>
    <%= form.text_field :lat, id: :lead_lat %>
  </div>

  <div class="field">
    <%= form.label :lng %>
    <%= form.text_field :lng, id: :lead_lng %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :lead_address %>
  </div>

  <div class="field">
    <%= form.label :pool_type %>
    <%= form.number_field :pool_type, id: :lead_pool_type %>
  </div>

  <div class="field">
    <%= form.label :kitchen_condition %>
    <%= form.number_field :kitchen_condition, id: :lead_kitchen_condition %>
  </div>

  <div class="field">
    <%= form.label :bathroom_condition %>
    <%= form.number_field :bathroom_condition, id: :lead_bathroom_condition %>
  </div>

  <div class="field">
    <%= form.label :renovated %>
    <%= form.check_box :renovated, id: :lead_renovated %>
  </div>

  <div class="field">
    <%= form.label :renovated_spent_cents %>
    <%= form.number_field :renovated_spent_cents, id: :lead_renovated_spent_cents %>
  </div>

  <div class="field">
    <%= form.label :renovated_description %>
    <%= form.text_area :renovated_description, id: :lead_renovated_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
