<div class="block block-fill-height px-0">

  <%= render 'application/header', logo: 'logo-blue.png' %>

  <div class="container mt-2 pt-5">
    <div class="card card-outline-primary">
      <h3 class="card-header">
        <ul class="nav nav-bordered">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sale</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Offer</a>
          </li>
        </ul>

      </h3>
      <div class="card-block funkybg">
        <h4 class="card-title">Basic home information</h4>
        <p class="card-text">Let’s start by answering a few questions about your home.</p>
        <hr>

        <%= simple_form_for @lead_wizard, as: :lead_wizard, url: validate_step_wizard_path do |f| %>
          <div class="form-group mt-5">
            <%= f.label(:bedrooms, 'Bedrooms') %>
            <%= f.input_field(:bedrooms, class: 'form-control', placeholder: '3') %>
          </div>
          <div class="form-group">
            <%= f.label(:bathrooms, 'Bathrooms') %>
            <%= f.input_field(:bathrooms, class: 'form-control', placeholder: '3') %>
          </div>
          <div class="form-group">
            <%= f.label(:built_surface, 'How big is your home?') %>
            <%= f.input_field(:built_surface, class: 'form-control', placeholder: '1,590 sqft') %>
          </div>

          <%= render 'wizards/radio_fieldset',
                legend: 'Does your home have a pool?',
                attribute: :pool_type,
                form: f,
                values: [
                  ['in_ground', 'Yes, an in-ground private pool'],
                  ['above_ground', 'Yes, an above-ground private pool'],
                  ['none_or_community', 'No pool, or community pool']
                ]
          %>


          <div class="form-check mt-5">
            <legend>Does your home have any of the following?</legend>

            <%= f.collection_check_boxes :characteristic_ids,
                  Characteristic.all.map{|c| [c.id, c.name]},
                  :first,
                  :last,
                  item_wrapper_tag: 'div',
                  item_wrapper_class: 'form-check' do |b|
            %>

              <label class="form-check-label">
                <%= b.check_box(class: 'form-check-input') %>
                <%= b.text %>
              </label>

            <% end %>
          </div>

          <%= render 'wizards/radio_fieldset',
                legend: 'How would you rate the condition of your kitchen?',
                attribute: :kitchen_condition,
                form: f,
                values: [
                  ['great_kitchen', 'Great condition'],
                  ['typical_kitchen', 'Typical use'],
                  ['needs_work_kitchen', 'Needs work']
                ]
          %>

          <%= render 'wizards/radio_fieldset',
                legend: 'How would you rate the condition of your bathrooms?',
                attribute: :bathroom_condition,
                form: f,
                values: [
                  ['great_bathroom', 'Great condition'],
                  ['typical_bathroom', 'Typical use'],
                  ['needs_work_bathroom', 'Needs work']
                ]
          %>

          <%= render 'wizards/radio_fieldset',
                legend: 'Have you upgraded/renovated your home?',
                attribute: :renovated,
                form: f,
                values: [
                  [true, 'Yes, I have'],
                  [false, 'No'],
                ]
          %>


          <div class="form-group">
            <%= f.label(:renovated_spent, 'If yes, how much did you spend on renovations?') %>
            <%= f.input_field(:renovated_spent, class: 'form-control', placeholder: '(enter dollar amount)') %>
            <small id="emailHelp" class="form-text text-muted">Please do not count repairs or maintenance work.</small>
          </div>

          <div class="form-group">
            <%= f.label(:renovated_description, 'Please provide a brief description of all updates and/or renovations.') %>
            <%= f.text_area(:renovated_description, class: 'form-control', placeholder: '', rows: 3)%>
          </div>

          <hr>
          <%= hidden_field_tag(:current_step, 'step3') %>
          <%= f.submit('Next', class: 'btn btn-success btn-lg') %>
          <% end %>

        </form>

      </div>
    </div>
  </div>

</div>
