<% content_for :external_scripts do %>
  <script src='https://api.mapbox.com/mapbox.js/v3.1.0/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v3.1.0/mapbox.css' rel='stylesheet' />
<% end %>

<div class="block block-fill-height">

  <%= render 'application/header', logo: 'logo-blue.png'%>

  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-12">
        <div class="card card-inverse card-primary mb-3 mt-4">
          <div class="card-block">
            <div id='map' style='width: 100%; height: 250px;' data-latitude='<%= @lat %>' data-longitude='<%= @lng %>'></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="card mt-2 text-center">
          <div class="card-block">
            <h3><%= @formatted_address %></h3>
            <p>Is this the correct address?</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-sm-12">
        <div class="card text-center">
          <div class="card-block">
            <%= simple_form_for @lead_wizard, as: :lead_wizard, url: validate_step_wizard_path do |f| %>
              <%= hidden_field_tag(:current_step, 'step2') %>
              <%= f.input_field :lat, as: :hidden, value: @lat %>
              <%= f.input_field :lng, as: :hidden, value: @lng %>
              <%= f.submit("That's Mine", class: 'btn btn-success') %>
              <button class="btn btn-secondary ">Edit Address</button>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
